/* 默认样式 */
.thinktree-default{
    margin: 6px;
    unselectable: on; /* ie */
            user-select: none;
       -moz-user-select: none;
    -webkit-user-select: none;
}
.thinktree-default i,
.thinktree-default a,
.thinktree-default span{
    height: 20px;
    line-height: 20px;
    vertical-align: top;
    cursor: pointer;
}
.thinktree-default i{
    width: 20px;
    background-image: url(tree.png);
    display: inline-block;
}
.thinktree-default a,
.thinktree-default span{
    color: #444;
    padding: 0 2px;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
}
.thinktree-default div{
    height: 20px;
    /*overflow: hidden;
    text-overflow: ellipsis;*/
    white-space: nowrap;
}

/* child */
.thinktree-default li > ul{
    padding-left: 20px;
}
.thinktree-default li.closed > ul{
    display: none;
}

.thinktree-default li .tree-icon-item{
    background-position: -60px -20px;
}
.thinktree-default li.closed > div .tree-icon-item{
    background-position: -80px -20px;
}
.thinktree-default li > div:only-child .tree-icon-item{
    background-position: -100px -20px;
}

.thinktree-default li.active > div a,
.thinktree-default li.active > div span{
    color: #FFF;
    background-color: #08C;
}

/* 不带连接线样式 */
.thinktree-default li .tree-icon-switch{
    background-position: -80px -60px;
}
.thinktree-default li.closed > div .tree-icon-switch{
    background-position: -60px -60px;
}

/* 带连接线样式 */
.thinktree-default .thinktree-showline li > ul{
    background: url(tree-line.png) repeat-y 0 0 transparent;
}
.thinktree-default .thinktree-showline li:last-child > ul{
    background: none;
}
/* item icon */
.thinktree-default .thinktree-showline li .tree-icon-switch{
    background-position: -40px -20px;
}
.thinktree-default .thinktree-showline li.closed > div .tree-icon-switch{
    background-position: -20px -20px;
}

/* first child */
.thinktree-default .thinktree-showline > li:first-child > div .tree-icon-switch{
    background-position: -40px 0;
}
.thinktree-default .thinktree-showline > li.closed:first-child > div .tree-icon-switch{
    background-position: -20px 0;
}

/* last child */
.thinktree-default .thinktree-showline li:last-child > div .tree-icon-switch{
    background-position: -40px -40px;
}
.thinktree-default .thinktree-showline li.closed:last-child > div .tree-icon-switch{
    background-position: -20px -40px;
}

/* only child */
.thinktree-default .thinktree-showline > li:only-child > div .tree-icon-switch{
    background-position: -40px -60px;
}
.thinktree-default .thinktree-showline > li.closed:only-child > div .tree-icon-switch{
    background-position: -20px -60px;
}

/* not child */
.thinktree-default .thinktree-showline > li:first-child > div:only-child .tree-icon-switch{
    background-position: 0 0;
}
.thinktree-default .thinktree-showline li > div:only-child .tree-icon-switch{
    background-position: 0 -20px;
}
.thinktree-default .thinktree-showline li:last-child > div:only-child .tree-icon-switch{
    background-position: 0 -40px;
}